.panel-action-button {
    float: right;
    cursor: pointer;
}

.dashboard-panel {
    border: ridge;
}

.dashboard-panel-header {
    height: 15px;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px;
    border: 1px solid;
}

md-icon {
    height: 12px;
    width: 12px;
    font-size: 13px;
}

.dashboard-panel-close-icon {}

.dashboard-panel-setting-icon {
    padding-right: 5px;
}

.dashboard-panel-expand-icon {
    padding-right: 5px;
}