.dashboard-menu-item-text {
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.dashboard-menu-item-icon {
    font-size: 22px;
    padding-left: 30px;
    padding-top: 10px;
    cursor: pointer;
}

.dashboard-menu-nav-split-icon {
    font-size: 1px;
}

.dashboard-sub-menu {
    font-size: 24px;
}