.dashboard-menu-nav-header-icon {
    font-size: 25px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 2px;
}

.dashboard-nav-menu-header {
    text-align: center;
}

.dashboard-menu-nav-split-icon {
    font-size: 3px;
}

.dashboard-tree-component /deep/ .md-tab-label {
    min-width: 50px;
}