.dashboard-tree-search-select {
    width: 60px
}

md-select /deep/ .md-select-trigger {
    min-width: 55px;
}

md-select /deep/ .md-select-value {
    left: 5px;
}

md-select /deep/ md-option {
    height: 30px;
}

.dashboard-menu-nav-split-icon {
    font-size: 3px;
}

.dashboard-tree-search-text {
    width: 120px;
    height: 20px;
    margin-top: 7px;
    margin-left: 5px;
}

button {
    background: transparent;
}

.dashboard-tree-context-menu {
    left: 200px;
}