<!-- Close Icon -->
<md-icon fontSet='fa' fontIcon='fa-arrow-circle-left' class='dashboard-menu-nav-close-icon' (click)="onMenuNavClose()"></md-icon>

<!-- Splitter Icon -->
<hr class="dashboard-menu-nav-split-icon">

<!-- Menu Code Here. -->
<!-- <div>
    <md-icon fontSet='fa' fontIcon='fa-arrow-circle-left' class='dashboard-menu-nav-close-icon'></md-icon>
    <div class='dashboard-menu-nav-text'> My Text </div>
</div>

<div>
    <md-icon fontSet='fa' fontIcon='fa-arrow-circle-left' class='dashboard-menu-nav-close-icon'></md-icon>
    <div class='dashboard-menu-nav-text'> My Text </div>
</div> -->

<p-panelMenu [model]="arrNavMenu" class="dashboard-nav-panel-menu" [ngClass]="['nav-menu-header-text', 'nav-menu-header-icon']"></p-panelMenu>
<!-- <dashboard-nav-menu *ngFor="let menu of arrNavMenu; let i = index;" [idx]="i" [navMenu]="menu"></dashboard-nav-menu> -->