.dashboard-menu-nav-split-icon {
    font-size: 3px;
}

.dashboard-nav-menu-header {
    text-align: center;
}

.dashboard-menu-nav-header-icon {
    font-size: 25px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 2px;
}

.dashboard-menu-nav-text {
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
}

.nav-menu-header-text {
    font-size: 11px;
}

.nav-menu-header-icon {
    font-size: 11px;
}

.dashboard-nav-panel-menu {}