.dashboard-menu-nav-close-icon {
    font-size: 30px;
    padding-left: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.dashboard-menu-nav-split-icon {
    font-size: 3px;
}

.dashboard-menu-nav-text {
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
}

.nav-menu-header-text {
    font-size: 11px;
}

.nav-menu-header-icon {
    font-size: 11px;
}

.dashboard-nav-panel-menu {}