<!-- Main Page Structure. -->
<md-sidenav-container fullscreen class="dashboard-sidenav-layout">

    <!-- Side Panel Component. -->
    <md-sidenav #navSideBar mode='side' opened=false color='primary'>
        <!-- Left Panel of Dashboard -->
        <dashboard-menu-nav-panel></dashboard-menu-nav-panel>
    </md-sidenav>

    <!-- Top Panel of Dashboard -->
    <dashboard-top-panel> </dashboard-top-panel>

    <!-- Routed views go here. When routing goes through Menu Navigation. -->
    <router-outlet></router-outlet>

</md-sidenav-container>