<!-- Layout  -->
<div [style.display]="isSinglePanelView?'none':'inherit'" [ngGrid]="layoutSettings" [ngClass]="['scroll', 'scroll_content']" (onResizeStop)="onResizeStop($event)">

    <!-- Now Creating Widgets -->
    <div *ngFor="let widget of widgets">
        <!-- Insert widget component here. -->
        <dashboard-widget [widget]="widget"> </dashboard-widget>
    </div>
</div>

<!-- Single Panel View Mode- -->
<div [style.display]="isSinglePanelView?'inherit':'none'">
    <dashboard-one-panel-view></dashboard-one-panel-view>
</div>