<!-- Layout  -->

<!-- Scroll Component. -->
<section>
    <div [style.display]="isSinglePanelView?'none':'inherit'" [ngClass]="['layout-grid']" [ngGrid]="layoutSettings" (onResizeStop)="onResizeStop($event)">

        <!-- Now Creating Widgets -->
        <div *ngFor="let widget of widgets">
            <!-- Insert widget component here. -->
            <dashboard-widget [widget]="widget" (widgetAction)="onWidgetAction($event)"> </dashboard-widget>
        </div>
    </div>
</section>

<!-- Single Panel View Mode- -->
<div [style.display]="isSinglePanelView?'inherit':'none'">
    <dashboard-one-panel-view [widgetInputs]="singlePanelViewInputs" (widgetAction)="onWidgetAction($event)"></dashboard-one-panel-view>
</div>