@import '~@angular/material/core/theming/all-theme';
//NOTE: Theming is currently experimental and not yet publically released!
@include md-core();
$primary: md-palette($md-deep-purple);
$accent: md-palette($md-amber, A200, A100, A400);
$theme: md-light-theme($primary, $accent);
@include angular-material-theme($theme);
md-sidenav {
    background: black;
}

md-sidenav md-icon {
    color: white;
}

md-sidenav div {
    color: white;
}

.dashboard-panel-header-color {
    color: black;
    border-color: black;
    background: rgba(121, 121, 185, 0.12);
}

.dashboard-panel-color {
    background: rgb(223, 234, 232);
}


/*For Single Prime UI panel.*/

.ui-panel .ui-panel-content {
    background: rgb(223, 234, 232);
}

.md-sidenav-container {
    background: transparent;
}

md-card {
    background: transparent;
}

body {
    background: url(images/background.jpg) repeat;
}